<title>Registrate | Arcadia</title>

{% extends 'layout.html' %}

{% block contenido %}

<div class="container">
    <h2>Términos y Condiciones</h2>
    <section>
        <h3>1. Términos de uso</h3>
        <p>Al utilizar nuestro sitio web y servicios, aceptas cumplir con estos términos y condiciones. No uses nuestros
            servicios si no estás de acuerdo con estos términos.</p>
    </section>

    <section>
        <h3>2. Derechos de autor</h3>
        <p>Todos los juegos, contenido y materiales en este sitio web son propiedad de sus respectivos propietarios y
            están protegidos por derechos de autor. No está permitido copiar, distribuir o modificar ningún contenido
            sin permiso.</p>
    </section>

    <section>
        <h3>3. Registro y cuentas</h3>
        <p>Al registrarte en nuestro sitio web, aceptas proporcionar información precisa y mantener tu contraseña
            segura. Eres responsable de todas las actividades que ocurran bajo tu cuenta.</p>
    </section>

    <section>
        <h3>4. Contenido generado por el usuario</h3>
        <p>Al cargar contenido en nuestro sitio web, otorgas a nuestra plataforma una licencia para mostrar, distribuir
            y promocionar tu contenido. Mantienes la propiedad de tu contenido y eres responsable de su precisión y
            legalidad.</p>
    </section>

    <section>
        <h3>5. Game Jams</h3>
        <p>Las reglas específicas de cada game jam se publicarán junto con el evento. Al participar en una game jam,
            aceptas seguir las reglas establecidas por los organizadores y respetar los derechos de autor y las
            licencias de cualquier contenido utilizado.</p>
    </section>

    <section>
        <h3>6. Compras y transacciones</h3>
        <p>Las compras de juegos y otros productos en nuestro sitio web están sujetas a términos y condiciones
            adicionales. Al realizar una compra, aceptas cumplir con estos términos y proporcionar información precisa
            de pago.</p>
    </section>

    <section>
        <h3>7. Limitación de responsabilidad</h3>
        <p>No somos responsables de ningún daño directo, indirecto, incidental o consecuente que surja del uso de
            nuestro sitio web o servicios. Utilizas nuestro sitio bajo tu propio riesgo.</p>
    </section>

    <section>
        <h3>8. Cambios en los términos</h3>
        <p>Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Los cambios
            entrarán en vigencia una vez publicados en nuestro sitio web.</p>
    </section>

    <section>
        <h3>9. Jurisdicción y ley aplicable</h3>
        <p>Estos términos y condiciones se rigen por las leyes del país en el que operamos. Cualquier disputa
            relacionada con estos términos estará sujeta a la jurisdicción exclusiva de los tribunales de esa
            jurisdicción.</p>
    </section>
</div>

{% endblock contenido %}